* {
  color: #333;
}
.roomcontainer {
  background-color: white;
  margin: auto;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 32px 24px;
  grid-template-rows: auto;
  /*grid-auto-flow: row dense;*/
}
.coldiv {
  /*display: table;*/
}
.grid-item {
  float: left;
  width: calc((100% / 6) - 24px);
  padding-left: 24px;
  position: relative;
  width: auto;
}
h2 {
  font-size: 1rem;
  background-color: gray;
  font-weight: 800;
  margin: 0 0 0.6rem 0;
  padding: 3px;
  display: inline-block;
  color: #212426;
}
h3 {
  background-color: lightgrey;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: #333;
}
.outercontainer {
  /*display: table;*/
  /*display: flex;
    flex-wrap: wrap;*/
  width: 100%;
}
/*.roomContainer {
    background-color: darkgray;
    color: #FFF;*/
/*width: 45%;*/
/*display: table-cell;*/
/*flex: 1;
    padding: 1rem;
    margin: 1rem;*/
/*display: table;*/
/*}*/
/*.innercontainer {*/
/*display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
/*column-count: 6;
    column-gap: 20px;
    column-fill: balance;*/
/*display: table-row;*/
/*display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 32px 24px;
    grid-template-rows: repeat(3, min-content);
    grid-auto-flow: row dense;

    &::before,
    &::after {
        display: none;
    }

    }

.gridlist {
    display: grid;
}*/
/*h1 {
        background-color: black;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-transform: uppercase;
    }

    h3 {
        background-color: lightgrey;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: #333;
    }*/
footer {
  clear: both;
}