@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="grid">

        <div class="room1">Rooms</div>

        <div class="item item1">1</div>
        <div class="item item2">2</div>
        <div class="item item3">3</div>
        <div class="item item4">4</div>
        <div class="item item5">5</div>
        <div class="item item6">6</div>
        <div class="item item7">7</div>
        <div class="item item8">8</div>
        <div class="item item9">9</div>
        <div class="item item10">10</div>
        <div class="item item11">11</div>
        <div class="item item12">12</div>
        <div class="item item13">13</div>
        <div class="item item14">14</div>
        <div class="item item15">15</div>
        <div class="item item16">16</div>
        <div class="item item17">17</div>
        <div class="item item18">18</div>
        <div class="item item19">19</div>
        <div class="item item20">20</div>
        <div class="item item21">21</div>
        <div class="item item22"></div>
        <div class="item item23"></div>
        <div class="item item24"></div>
        <div class="item item25"></div>
        <div class="item item26"></div>
        <div class="item item27"></div>
        <div class="item item28"></div>
        <div class="item item29"></div>
        <div class="item item30"></div>
        <div class="item item31"></div>
        <div class="item item32"></div>
        <div class="item item33"></div>
        <div class="item item34"></div>
        <div class="item item35"></div>
        <div class="item item36"></div>
        <div class="item item37"></div>
        <div class="item item38"></div>
        <div class="item item39"></div>
        <div class="item item40"></div>
        <div class="item item41"></div>
        <div class="item item42"></div>
        <div class="item item43"></div>
        <div class="item item44"></div>
        <div class="item item45"></div>
        <div class="item item46"></div>
        <div class="item item47"></div>
        <div class="item item48"></div>
        <div class="item item49"></div>
        <div class="item item50"></div>
        <div class="item item51"></div>
        <div class="item item52"></div>
        <div class="item item53"></div>
        <div class="item item54"></div>
        <div class="item item55"></div>
        <div class="item item56"></div>
        <div class="item item57"></div>
        <div class="item item58"></div>
        <div class="item item59"></div>
        <div class="item item60"></div>

        <div class="room2">Rooms</div>
        <div class="item item61">61</div>
        <div class="item item62">62</div>
        <div class="item item63">63</div>
        <div class="item item64">64</div>
        <div class="item item65">65</div>
        <div class="item item66">66</div>
        <div class="item item67">67</div>
        <div class="item item68">68</div>
        <div class="item item69">69</div>
        <div class="item item70">70</div>

    </div>


</div>